@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');






* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  
 }
 
 input[type="radio"] + label span {
     transition: background .2s,
       transform .2s;
 }
 
 input[type="radio"] + label span:hover,
 input[type="radio"] + label:hover span{
   transform: scale(1.2);
 } 
 
 input[type="radio"]:checked + label span {
   background-color: #3490DC;
   box-shadow: 0px 0px 0px 2px white inset;
 }
 
 input[type="radio"]:checked + label{
    color: #3490DC;
 }
 
 
.res_nav{
  display: none;
}

.slach1,.slach2{
  height: 3px;
  width: 20px;

  background-color: gray;
}
.tag_featured {
  border-top-right-radius: 16px; 
border-bottom-left-radius: 16px;
background-color: #4E60FF;
position:absolute;
top: 0;
right: 0;
color: white;
font-size: 12px;
padding: 5px 20px 5px 20px;;
font-weight: bold;
}
.Banner{
  position: absolute;

top: 80px;
width: 370px;
}

.plat:nth-child(1){
transform: rotate(60deg) translate(-90px,60px);
}
.plat:nth-child(2){
  transform: rotate(120deg) translate(-150px,-80px);
  }

  .plat:nth-child(3){
    transform: rotate(180deg) translate(-200px,-50px);
    }
    .plat:nth-child(4){
      transform: rotate(360deg) translate(-100px,-10px);
      }
      .checked {
        color: orange;
      }
@media (max-width: 739px) { 
  .res_nav{display: block;
    padding: 150px 10px 150px 10px;
    position: absolute;
top: 0;
height: 100vh;
width: 40vw;
background-color: #f1f1f1;;}

  .close_navbar {
    animation: closenavbar 1s 1;
    right: -200px;
    display: none;
  }
  .open_navbar {
    animation: opennavbar 1s 1;
    right: 0;
  }

}
@keyframes opennavbar {
  from {
    transform: translate(450px);
    display: none;
  }
  to {
    transform: translate(-0);
    display: block;
  }
}

@keyframes closenavbar {
  from {
    transform: translate(-0);
 
  }
  to {
    right: -450px;
  
  }
}

